{% from "macros/fields.tmpl" import render_input_field, render_password_field,
                                    render_submit %}
{% extends "shared/layout.tmpl" %}

{% block title %}Seznam aliasů{% endblock %}

{% block content %}
    {% include "shared/side_menu.tmpl" %}
    <h2 class="header_pages">Seznam aliasů - <span class="span-display-name">{{ displayName }}</span></h2>
    <div class="main_content col-xs-9 ">
        <table class="table-bordered">
            <thead>
                    <tr><th>Alias</th><th width="10%" class="table-action">Akce</th></tr>
            </thead>
            {% for i in r %}
                {% if i['n'] == "zimbraMailAlias" %}
                    <tr>
                        <td>{{ i['_content'] }}</td>
                        <td><a href="{{url_for('auth.removealiaszimbra', id=id, alias=i['_content'])}}"><button class="btn btn-danger btn-log ">Smazat</button></a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}