{% from "macros/fields.tmpl" import render_input_field, render_password_field,
                                    render_submit %}
{% extends "shared/layout.tmpl" %}

{% block title %}Register{% endblock %}

{% block content %}
  <h3>List of all domains</h3>
 <table >
      <tr><th>ID</th><th>Name</th><th>Action</th></tr>
    {% for n in data %}
      <tr ><td>{{ n[0] }}</td><td style="padding: 10px">{{ n[1] }}</td><td>Smazat</td></tr>
    {% endfor %}
    </table>
{% endblock %}
