{% from "macros/fields.tmpl" import render_input_field,
                                    render_submit %}
{% extends "shared/layout.tmpl" %}

{% block title %}Delete user{% endblock %}

{% block content %}
  <h3>New Account</h3>
  <form method="POST" id="delete-form">
    {{ form.hidden_tag() }}
    {{ render_input_field(form.email) }}
    {{ render_submit() }}
  </form>
{% endblock %}
