{% from "macros/fields.tmpl" import render_input_field, render_password_field,
                                    render_submit %}
{% extends "shared/layout.tmpl" %}

{% block title %}Edit account{% endblock %}

{% block content %}
    {% include "shared/side_menu.tmpl" %}
    <h2 class="header_pages">Edit user</h2>
    <div class="main_content">
      <form method="POST" id="register-form">
        {{ form.hidden_tag() }}
        {{ render_input_field(form.email,value=name) }}
        {{ render_input_field(form.displayname, value=displayname) }}
        {{ render_input_field(form.password)}}
        {{ render_submit() }}
      </form>
    </div>
{% endblock %}

