{% from "macros/fields.tmpl" import render_input_field, render_password_field,
                                    render_submit %}
{% extends "shared/layout.tmpl" %}

{% block title %}Zimbra Administration{% endblock %}

{% block content %}
  <h3>List of all domains</h3>
    <p><a href="{{ url_for('auth.adddomianzimbra') }}">Create domain</a></p>
 <table >
      <tr><th>ID</th><th>Name</th><th>Action</th></tr>

    {% for n in data %}
      <tr>
          <td>{{ n[0] }}</td>
          <td style="padding: 10px">{{ n[1] }}</td>
          {% if not (n[1] == "sspu-opava.local") %}
          <td><a href="{{url_for('auth.deletedomainzimbra', id=n[0])}}">Smazat</a></td>
          {% endif %}
      </tr>
    {% endfor %}
    </table>
{% endblock %}