{% from "macros/fields.tmpl" import render_input_field, render_password_field,
                                    render_submit %}
{% extends "shared/layout.tmpl" %}

{% block title %}Úprava účtu{% endblock %}

{% block content %}
    {% include "shared/side_menu.tmpl" %}
    <h2 class="header_pages">Změna hesla</h2>
    <div class="main_content col-md-9">
      <form method="POST" id="register-form">
        {{ form.hidden_tag() }}
        {{ render_password_field(form.password) }}
        {{ render_submit("Uložit") }}
      </form>
    </div>

{% endblock %}