    <div class="side_menu col-md-2">

             {% if current_user.email.split("@")[1] == "sspu-opava.local" %}
                 <h3>Domény</h3>
                <a href="{{ url_for('auth.adddomianzimbra') }}"><h4 {% if request.path.split("/")[1] == "zimbraadddomain" %} style="background-color: #1785c2; color: white" {% endif %} class="side_menu-link">Nová doména</h4></a>
                <a href="{{ url_for('auth.listdomainszimbra') }}"><h4 {% if request.path.split("/")[1] == "zimbralistdomains" %} style="background-color: #1785c2; color: white" {% endif %} class="side_menu-link">Seznam domén</h4></a>
             {% endif %}

             <h3>Uživatelé</h3>
                <a href="{{ url_for('auth.adduserzimbra') }}"><h4 {% if request.path.split("/")[1] == "zimbraadduser" %} style="background-color: #1785c2; color: white" {% endif %} class="side_menu-link">Nový uživatel</h4></a>
                <a href="{{ url_for('auth.listuserzimbra') }}"><h4 {% if request.path.split("/")[1] == "zimbralistusers" %} style="background-color: #1785c2; color: white" {% endif %} class="side_menu-link">Seznam uživatelů</h4></a>

             {% if request.path.split("/")[1] == "zimbraedituser" or request.path.split("/")[1] == "zimbranewalias"
             or request.path.split("/")[1] == "zimbralistaliases" or request.path.split("/")[1] == "zimbrachangepassword" %}
                <a href="{{url_for('auth.edituserzimbra', id=request.path.split("/")[2])}}"><h4 {% if request.path.split("/")[1] == "zimbraedituser" %} style="background-color: #1785c2; color: white" {% endif %} class="side_menu-link">Úprava uživatele</h4></a>

            <h3>Aliasy</h3>
                <a href="{{ url_for('auth.newaliaszimbra', id=request.path.split("/")[2]) }}"><h4 {% if request.path.split("/")[1] == "zimbranewalias" %} style="background-color: #1785c2; color: white" {% endif %} class="side_menu-link">Přidat alias</h4></a>
                <a href="{{ url_for('auth.listaliaszimbra', id=request.path.split("/")[2]) }}"><h4 {% if request.path.split("/")[1] == "zimbralistaliases" %} style="background-color: #1785c2; color: white" {% endif %} class="side_menu-link">List aliasů</h4></a>
            {% endif %}
            <h3>Distribuční listy</h3>
                <a href="{{ url_for('auth.adddlzimbra') }}"><h4 {% if request.path.split("/")[1] == "zimbraadddls" %} style="background-color: #1785c2; color: white" {% endif %} class="side_menu-link">Nový DL</h4></a>
                <a href="{{ url_for('auth.listdlszimbra') }}"><h4 {% if request.path.split("/")[1] == "zimbralistdls" %} style="background-color: #1785c2; color: white" {% endif %} class="side_menu-link">Seznam DL</h4></a>
            {% if request.path.split("/")[1] == "zimbraedituser" or request.path.split("/")[1] == "zimbranewalias"
             or request.path.split("/")[1] == "zimbralistaliases" or request.path.split("/")[1] == "zimbrachangepassword" %}
                <h3>Heslo</h3>
                <a href="{{ url_for('auth.changepasswordzimbra', id=request.path.split("/")[2]) }}"><h4 {% if request.path.split("/")[1] == "zimbrachangepassword" %} style="background-color: #1785c2; color: white" {% endif %} class="side_menu-link">Změna hesla</h4></a>
            {% endif %}
    </div>

